HTML
style
    include ../public/css/seller_page.css

header
    a(href="../index.html")
        img(src="../company_logo.png" alt="product image")


div.item_box
    div.img_box
    div.info_box 
        h2.name.head=name
        div.price
            p.money.head Price: £
            p.money.text=price
        div.description
            p.head Description:
            p.text=description



